<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="web.system.shijuan.dao.ShijuanDao">
    <!-- parameterType:参数类型,填写实体类的完整名字 -->
    <select id="findAll" resultType="web.system.shijuan.entity.ShijuanEntity">
        select * from ZS_SJ
    </select>
    
    <select id="findPage" resultType="web.system.shijuan.entity.ShijuanEntity">
        select * from 
        	(select rownum as rowno , t.* from V_SJ t where rownum &lt;= #{endIndex} order by createtime)
        where rowno &gt; #{startIndex}
    </select>
    
    <select id="findByid" resultType="web.system.shijuan.entity.ShijuanEntity">
        select * from V_SJ where id=#{id}
    </select>
    
    <select id="findShitiBySjId" resultType="web.system.question.entity.ShitiEntity">
    	select * from v_tm a 
    		where exists (select b.* from zs_sj_st b where a.id= b.ST_ID and SJ_ID=#{sj_id}) order by a.st_lb
    </select>
    
    <delete id="deleteShijuan">
    	delete from ZS_SJ where id=#{id}
    </delete>
    
    <delete id="deleteShijuanToShiti">
    	delete from ZS_SJ_ST where sj_id=#{id}
    </delete>
    
    <delete id="deleteStById">
    	delete from ZS_SJ_ST where SJ_ID=#{sj_id} and ST_ID in 
		 <foreach item="ids" index="index" collection="st_ids" open="(" separator="," close=")">
		   #{ids}
		 </foreach>
    </delete>
    
    <select id="queryDaan" resultType="web.system.question.entity.DaanEntity">
        select * from ZS_DA where st_id = #{shitiId}
    </select>
    
    <select id="findShitiByKm" resultType="web.system.question.entity.ShitiEntity">
        select * from v_tm a 
        where a.KM_ID=#{km_id} and not exists 
        (select b.* from zs_sj_st b where a.ID=b.ST_ID and b.SJ_ID=#{sj_id})
    </select>
    
    <insert id="addShiti">
    	insert into zs_sj_st (sj_id,st_id)
			<foreach item = "item" collection="st_sjs" separator="UNION ALL">
                select #{item.sj_id}, #{item.st_id} from dual
   		 	</foreach>
    </insert>
    
</mapper>